node_modules/
.expo/
coverage/
dist/
*.jks
*.p8
*.p12
*.key
*.keystore
keystore.properties
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# macOS
.DS_Store

# Android
android/app/build/
android/.gradle/
android/build/

# iOS
ios/Pods/
ios/build/

# Metro
.metro-health-check*

# Build artifacts
*.apk
*.aab
*.ipa
__pycache__/
